//Font
$main-font:"Montserrat";

//main
// $main-bg-color: linear-gradient(270deg, #c18989 0%, #2f2447 100%);
$main-bg-color: #2F2447;
$pink: #FD9A9A;


//page with form
$color-text-form:#E8D3D3;

$green:#7AA76A;
$red:#AA5050;

$diluted-white: rgba(255, 255, 255, 0.2);